<h1>Welcome to FutureNow: Goal Analysis</h1><br>
<h3><i>FutureNow: Goal Analysis is software designed to make your goals more achievable.<br>
Want to make a million dollars in the next 5 years? FutureNow will break down your targeted<br>
dollar amount into <u>smaller and easier to achieve mini-goals.</u></i></h3>
<p><br><hr><h3>Create your own DreamPlan Here!</h3><%= link_to "DreamPlan Database", dreamplans_path %></p>
